==
<h2 style="text-align: justify;"><strong>We&#39;re a small and&nbsp;dedicated team</strong></h2>

<h4 style="text-align: justify;"><span style="font-size:18px"><strong>Donna Rupp&nbsp;</strong>&nbsp;|&nbsp; Sales Executive&nbsp;</span></h4>

<p style="text-align: justify;">North East Victoria has been my home for just under 30 years, having grown up in Bright and now living in the Kiewa Valley.&nbsp;</p>

<p style="text-align: justify;">I have always loved the area, the mountains, rivers, sense of space and all it has to offer.&nbsp;So, selling it, comes naturally to me.</p>

<p style="text-align: justify;">I am extremely passionate about both people and property and am so excited to fulfil my dream of owning my own Agency.&nbsp; It is an amazing diverse industry to be in.</p>

<p style="text-align: justify;">Having over 10 years-experience in both property management and sales, I pride myself on providing a very straight forward and stress-free experience.</p>

<h4 style="text-align: justify;"><span style="font-size:18px"><strong>Jordan McNamara&nbsp; |&nbsp;&nbsp;</strong>Property Consultant</span></h4>

<p style="text-align: justify;">Having lived in North East Victoria most of his life, Jordan has a wide knowledge of the area and is just as passionate about both people and property.</p>

<p style="text-align: justify;">Jordan is quickly creating a name for himself, with his focus&nbsp;to offer a personalised and&nbsp;new level of service. His outstanding&nbsp;client testimonials speak for themselves.</p>

<p style="text-align: justify;">You can can be confident you&nbsp;are in excellent hands based on Jordan&#39;s knowledge, experience, and fresh approach to property&nbsp;in our stunning region.&nbsp;&nbsp;</p>

<p style="text-align: justify;">&nbsp;</p>